html {
    background-color: #669ED1;
} 

body {

}

h1 {
    font-size: 64px;
}

.main-container {
    display: flex;
}

.buzzer {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}